:root {
   /* Brand Colours  */
   --brand-color: #574AE8;
   --brand-color2: #3EA1DB ;

   /*  Dark Scale  */
   --dark-10: #1A202C;
   --dark-20: #717171;
   --dark-30: #F3F5F7;
   --dark-40: #FFFFFF;

   /*  Color System  */
   --support-01: #2962FF;
   --support-02: #0BB07B;
   --support-03: #FFCE52;
   --support-04: #F03D3D;
   --support-05: #E0E0E0;

}